In [2]:
import pandas as pd
import os
import glob
import numpy as np

In [3]:
df = pd.read_csv("../DataBombardier/2sec/flight_test_1.csv")

In [4]:
df.head()

,Description,TIME OF DAY IN SECONDS,1st Cooling Sys MASS FLOW,2nd Cooling Sys MASS FLOW,ACS_Zone_Actual_Temperature,Outside Air Temperature_OAT,Pressure Altitude,Mach,1st AVIONICS BAY BULK TEMP,2nd AVIONICS BAY BULK TEMP,1st Underfloor flow,2nd Underfloor flow
0,Unit,seconds,lb/min,LBSM,deg C,deg C,ft,Ma,Deg C,DegC,LBSM,LBSM
1,Type,NaN,INPUT,INPUT,INPUT,INPUT,INPUT,INPUT,TARGET,TARGET,INPUT,INPUT
2,NaN,17900,5.127625,17.837846,29.709884,26.139877,2364.0,0.008601,35.254327,33.75728262404328,8.688659,15.16928
3,NaN,17902,5.119134,17.831211,29.709884,26.150728,2365.0,0.008851,35.240755,33.76746076717663,8.652254,15.141995
4,NaN,17904,5.129402,17.793621,29.709884,26.17243,2364.0,0.008205,35.250933,33.78781427556584,8.712825,15.125606

In [5]:
df = df.drop('Description', axis=1)

In [6]:
df = df.set_index('TIME OF DAY IN SECONDS')

In [7]:
data_units = df.iloc[0]
data_units.name = 'Unit'
data_units

1st Cooling Sys MASS FLOW      lb/min
2nd Cooling Sys MASS FLOW        LBSM
ACS_Zone_Actual_Temperature     deg C
Outside Air Temperature_OAT     deg C
Pressure Altitude                  ft
Mach                               Ma
1st AVIONICS BAY BULK TEMP      Deg C
2nd AVIONICS BAY BULK TEMP       DegC
1st Underfloor flow              LBSM
2nd Underfloor flow              LBSM
Name: Unit, dtype: object

In [8]:
data_label_type = df.iloc[1]
data_label_type.name = 'Type'
data_label_type

1st Cooling Sys MASS FLOW       INPUT
2nd Cooling Sys MASS FLOW       INPUT
ACS_Zone_Actual_Temperature     INPUT
Outside Air Temperature_OAT     INPUT
Pressure Altitude               INPUT
Mach                            INPUT
1st AVIONICS BAY BULK TEMP     TARGET
2nd AVIONICS BAY BULK TEMP     TARGET
1st Underfloor flow             INPUT
2nd Underfloor flow             INPUT
Name: Type, dtype: object

In [9]:
df = df.iloc[3:]
df.head()

,1st Cooling Sys MASS FLOW,2nd Cooling Sys MASS FLOW,ACS_Zone_Actual_Temperature,Outside Air Temperature_OAT,Pressure Altitude,Mach,1st AVIONICS BAY BULK TEMP,2nd AVIONICS BAY BULK TEMP,1st Underfloor flow,2nd Underfloor flow
TIME OF DAY IN SECONDS,,,,,,,,,,
17902,5.119134,17.831211,29.709884,26.150728,2365.0,0.008851,35.240755,33.76746076717663,8.652254,15.141995
17904,5.129402,17.793621,29.709884,26.17243,2364.0,0.008205,35.250933,33.78781427556584,8.712825,15.125606
17906,5.144212,17.751606,29.623075,26.194133,2365.0,0.008917,35.233968,33.77085186112588,8.806761,15.103295
17908,5.146977,17.708962,29.623075,26.194133,2364.0,0.009194,35.244148,33.78781427556584,8.886403,15.09978
17910,5.144015,17.684005,29.623075,26.183282,2364.0,0.005896,35.227183,33.79120814739258,8.932443,15.097211

In [10]:
df = df.reset_index()
df.head()

,TIME OF DAY IN SECONDS,1st Cooling Sys MASS FLOW,2nd Cooling Sys MASS FLOW,ACS_Zone_Actual_Temperature,Outside Air Temperature_OAT,Pressure Altitude,Mach,1st AVIONICS BAY BULK TEMP,2nd AVIONICS BAY BULK TEMP,1st Underfloor flow,2nd Underfloor flow
0,17902,5.119134,17.831211,29.709884,26.150728,2365.0,0.008851,35.240755,33.76746076717663,8.652254,15.141995
1,17904,5.129402,17.793621,29.709884,26.17243,2364.0,0.008205,35.250933,33.78781427556584,8.712825,15.125606
2,17906,5.144212,17.751606,29.623075,26.194133,2365.0,0.008917,35.233968,33.77085186112588,8.806761,15.103295
3,17908,5.146977,17.708962,29.623075,26.194133,2364.0,0.009194,35.244148,33.78781427556584,8.886403,15.09978
4,17910,5.144015,17.684005,29.623075,26.183282,2364.0,0.005896,35.227183,33.79120814739258,8.932443,15.097211

In [11]:
df.describe()

,TIME OF DAY IN SECONDS,1st Cooling Sys MASS FLOW,2nd Cooling Sys MASS FLOW,ACS_Zone_Actual_Temperature,Outside Air Temperature_OAT,Pressure Altitude,Mach,1st AVIONICS BAY BULK TEMP,2nd AVIONICS BAY BULK TEMP,1st Underfloor flow,2nd Underfloor flow
count,9260,9260,9260,9260,9260,9260,9260,9260,9260,9260,9260
unique,9260,2135,3522,86,1603,1012,3052,3514,3041,8681,8880
top,27660,5.23505,18.284517,24.674981,-11.806363,20901.0,0.0,18.221142,23.31477513993139,5.671062,10.102888
freq,1,49,21,1878,64,880,96,26,35,4,3

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9260 entries, 0 to 9259
Data columns (total 11 columns):
TIME OF DAY IN SECONDS         9260 non-null object
1st Cooling Sys MASS FLOW      9260 non-null object
2nd Cooling Sys MASS FLOW      9260 non-null object
ACS_Zone_Actual_Temperature    9260 non-null object
Outside Air Temperature_OAT    9260 non-null object
Pressure Altitude              9260 non-null object
Mach                           9260 non-null object
1st AVIONICS BAY BULK TEMP     9260 non-null object
2nd AVIONICS BAY BULK TEMP     9260 non-null object
1st Underfloor flow            9260 non-null object
2nd Underfloor flow            9260 non-null object
dtypes: object(11)
memory usage: 795.9+ KB

In [13]:
nparray = df.to_numpy()
nparray

array([['17902', '5.119134', '17.831211', ..., '33.76746076717663',
        '8.652254', '15.141995'],
       ['17904', '5.129402', '17.793621', ..., '33.78781427556584',
        '8.712825', '15.125606'],
       ['17906', '5.144212', '17.751606', ..., '33.77085186112588',
        '8.806761', '15.103295'],
       ...,
       ['36416', '5.572925', '11.968559', ..., '24.254533179129204',
        '9.541279', '16.553018'],
       ['36418', '5.561867', '11.968874', ..., '24.24435503599585',
        '9.537369', '16.551794'],
       ['36420', '5.551401', '11.978351', ..., '24.26810380515055',
        '9.535671', '16.556848']], dtype=object)

In [14]:
csv_stringLoader = "../DataBombardier/2sec/flight_test_*.csv"

In [15]:
def sortKeyFunc(s):
    return int(os.path.basename(s)[12:-4])

In [16]:
def bomb_csv_to_df(csv_stringLoader):
    list_df = []
    list_data_units = []
    list_data_label_type = []
    allFiles = sorted(glob.glob(csv_stringLoader), key=sortKeyFunc)

    for files in allFiles:
        print('Loading:{}'.format(files))
        df = pd.read_csv(files)
        df = df.drop('Description', axis=1)
        df = df.set_index('TIME OF DAY IN SECONDS')

        data_units = df.iloc[0]
        data_units.name = 'Unit'

        data_label_type = df.iloc[1]
        data_label_type.name = 'Type'

        df = df.iloc[3:]
        df = df.apply(pd.to_numeric)

        list_df.append(df)
        list_data_units.append(data_units)
        list_data_label_type.append(data_label_type)
        
    return list_df, list_data_units, list_data_label_type

In [17]:
list_df, list_data_units, list_data_label_type = bomb_csv_to_df(csv_stringLoader)

Loading:../DataBombardier/2sec\flight_test_1.csv
Loading:../DataBombardier/2sec\flight_test_3.csv
Loading:../DataBombardier/2sec\flight_test_4.csv
Loading:../DataBombardier/2sec\flight_test_5.csv
Loading:../DataBombardier/2sec\flight_test_6.csv
Loading:../DataBombardier/2sec\flight_test_7.csv
Loading:../DataBombardier/2sec\flight_test_8.csv
Loading:../DataBombardier/2sec\flight_test_9.csv
Loading:../DataBombardier/2sec\flight_test_10.csv
Loading:../DataBombardier/2sec\flight_test_11.csv

In [18]:
df = list_df[0]

In [19]:
df.head()

,1st Cooling Sys MASS FLOW,2nd Cooling Sys MASS FLOW,ACS_Zone_Actual_Temperature,Outside Air Temperature_OAT,Pressure Altitude,Mach,1st AVIONICS BAY BULK TEMP,2nd AVIONICS BAY BULK TEMP,1st Underfloor flow,2nd Underfloor flow
TIME OF DAY IN SECONDS,,,,,,,,,,
17902,5.119134,17.831211,29.709884,26.150728,2365.0,0.008851,35.240755,33.767461,8.652254,15.141995
17904,5.129402,17.793621,29.709884,26.172430,2364.0,0.008205,35.250933,33.787814,8.712825,15.125606
17906,5.144212,17.751606,29.623075,26.194133,2365.0,0.008917,35.233968,33.770852,8.806761,15.103295
17908,5.146977,17.708962,29.623075,26.194133,2364.0,0.009194,35.244148,33.787814,8.886403,15.099780
17910,5.144015,17.684005,29.623075,26.183282,2364.0,0.005896,35.227183,33.791208,8.932443,15.097211

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9260 entries, 17902 to 36420
Data columns (total 10 columns):
1st Cooling Sys MASS FLOW      9260 non-null float64
2nd Cooling Sys MASS FLOW      9260 non-null float64
ACS_Zone_Actual_Temperature    9260 non-null float64
Outside Air Temperature_OAT    9260 non-null float64
Pressure Altitude              9260 non-null float64
Mach                           9260 non-null float64
1st AVIONICS BAY BULK TEMP     9260 non-null float64
2nd AVIONICS BAY BULK TEMP     9260 non-null float64
1st Underfloor flow            9260 non-null float64
2nd Underfloor flow            9260 non-null float64
dtypes: float64(10)
memory usage: 795.8+ KB

In [21]:
#Testing rescaling of data columns

In [22]:
desc = df.describe(include='all')
desc

,1st Cooling Sys MASS FLOW,2nd Cooling Sys MASS FLOW,ACS_Zone_Actual_Temperature,Outside Air Temperature_OAT,Pressure Altitude,Mach,1st AVIONICS BAY BULK TEMP,2nd AVIONICS BAY BULK TEMP,1st Underfloor flow,2nd Underfloor flow
count,9260.000000,9260.000000,9260.000000,9260.000000,9260.000000,9260.000000,9260.000000,9260.000000,9260.000000,9260.000000
mean,5.338515,18.229968,24.382175,-4.877405,16198.761231,0.515751,22.957897,24.117648,6.289382,11.149032
std,0.148002,0.781077,1.113369,16.132508,7642.479243,0.248429,5.264988,4.045628,1.281020,2.125628
min,4.038959,9.907043,22.331147,-18.555738,1699.000000,0.000000,16.836772,18.982390,0.226679,0.549607
25%,5.225769,17.893443,23.372851,-16.211903,12432.750000,0.480027,18.777605,20.799143,5.643670,10.072766
50%,5.312854,18.187381,24.588172,-11.828066,20897.000000,0.656255,21.403836,23.304597,5.732299,10.212747
75%,5.421316,18.543234,24.761790,3.222388,20902.000000,0.659237,24.939410,25.995799,5.910535,10.577323
max,6.243147,20.460071,29.709884,26.628176,20923.000000,0.668681,35.261114,33.797992,14.690238,24.117109

In [37]:
#List df to max array
def list_df_to_max_array(list_df):
    maxdflist = []
    for df in list_df:
        maxdflist.append(df.describe(include='all').loc[ "max", :].to_numpy())
        #print(df.describe(include='all').loc[ "max", :].to_numpy())
    for m in range(len(maxdflist)):
        #print(m)
        if m==0:
            maxarray = maxdflist[m]
        else:
            maxarray = np.maximum(maxarray, maxdflist[m])
    #print(maxarray)
    return maxarray

#list df to min array
def list_df_to_min_array(list_df):
    mindflist = []
    for df in list_df:
        mindflist.append(df.describe(include='all').loc[ "min", :].to_numpy())
        #print(df.describe(include='all').loc[ "max", :].to_numpy())
    for m in range(len(mindflist)):
        #print(m)
        if m==0:
            minarray = mindflist[m]
        else:
            minarray = np.minimum(minarray, mindflist[m])
    #print(minarray)
    return minarray

def min_max_arrays_to_rescaling_array(minarray, maxarray):
    rescaling_array = np.maximum(np.absolute(minarray), maxarray)
    return rescaling_array

In [26]:
minarray = list_df_to_min_array(list_df)
minarray

array([-1.52395000e-01,  1.27800000e-03,  4.79579500e+00, -3.70351340e+01,
        1.21200000e+03,  0.00000000e+00, -1.83865600e+00,  4.99358239e-01,
       -1.35757500e+00,  2.92575000e-01])

In [27]:
maxarray = list_df_to_max_array(list_df)
maxarray

array([1.20907030e+01, 2.04600710e+01, 2.97098840e+01, 3.99967110e+01,
       2.99560000e+04, 6.95564000e-01, 3.52611140e+01, 3.37979924e+01,
       1.92237140e+01, 2.84074330e+01])

In [40]:
rescaling_array = min_max_arrays_to_rescaling_array(minarray, maxarray)
rescaling_array

array([1.20907030e+01, 2.04600710e+01, 2.97098840e+01, 3.99967110e+01,
       2.99560000e+04, 6.95564000e-01, 3.52611140e+01, 3.37979924e+01,
       1.92237140e+01, 2.84074330e+01])

In [37]:
#rescale all df in list df, by their column respective largest values

In [45]:
def rescale_single_df(df, rescaling_array):
    rescaled_df = pd.DataFrame()
    for e, (columnName, columnData) in enumerate(list_df[0].iteritems()):
        #print(e)
        #print(columnName)
        #print(columnData)
        rescaled_df[columnName] = columnData/(rescaling_array[e]+1)
    return rescaled_df

In [46]:
rescaled_df = rescale_single_df(list_df[0], rescaling_array)

In [48]:
rescaled_df.describe()

,1st Cooling Sys MASS FLOW,2nd Cooling Sys MASS FLOW,ACS_Zone_Actual_Temperature,Outside Air Temperature_OAT,Pressure Altitude,Mach,1st AVIONICS BAY BULK TEMP,2nd AVIONICS BAY BULK TEMP,1st Underfloor flow,2nd Underfloor flow
count,9260.000000,9260.000000,9260.000000,9260.000000,9260.000000,9260.000000,9260.000000,9260.000000,9260.000000,9260.000000
mean,0.407810,0.849483,0.793952,-0.118971,0.540734,0.304177,0.633127,0.693076,0.310990,0.379123
std,0.011306,0.036397,0.036254,0.393507,0.255115,0.146517,0.145197,0.116260,0.063342,0.072282
min,0.308536,0.461650,0.727165,-0.452615,0.056715,0.000000,0.464320,0.545502,0.011209,0.018689
25%,0.399197,0.833802,0.761086,-0.395444,0.415020,0.283107,0.517844,0.597711,0.279062,0.342524
50%,0.405849,0.847499,0.800660,-0.288513,0.697567,0.387042,0.590270,0.669711,0.283444,0.347285
75%,0.414135,0.864081,0.806313,0.078601,0.697733,0.388801,0.687773,0.747049,0.292258,0.359682
max,0.476915,0.953402,0.967437,0.649520,0.698434,0.394371,0.972422,0.971263,0.726387,0.820102

In [49]:
def rescale_list_of_df(list_df):
    minarray = list_df_to_min_array(list_df)
    maxarray = list_df_to_max_array(list_df)
    rescaling_array = min_max_arrays_to_rescaling_array(minarray, maxarray)
    
    rescaled_list_df = []
    for df in list_df:
        rescaled_list_df.append(rescale_single_df(df, rescaling_array))
    return rescaled_list_df

In [50]:
rescaled_list_df = rescale_list_of_df(list_df)

In [55]:
rescaled_list_df[2].describe()

,1st Cooling Sys MASS FLOW,2nd Cooling Sys MASS FLOW,ACS_Zone_Actual_Temperature,Outside Air Temperature_OAT,Pressure Altitude,Mach,1st AVIONICS BAY BULK TEMP,2nd AVIONICS BAY BULK TEMP,1st Underfloor flow,2nd Underfloor flow
count,9260.000000,9260.000000,9260.000000,9260.000000,9260.000000,9260.000000,9260.000000,9260.000000,9260.000000,9260.000000
mean,0.407810,0.849483,0.793952,-0.118971,0.540734,0.304177,0.633127,0.693076,0.310990,0.379123
std,0.011306,0.036397,0.036254,0.393507,0.255115,0.146517,0.145197,0.116260,0.063342,0.072282
min,0.308536,0.461650,0.727165,-0.452615,0.056715,0.000000,0.464320,0.545502,0.011209,0.018689
25%,0.399197,0.833802,0.761086,-0.395444,0.415020,0.283107,0.517844,0.597711,0.279062,0.342524
50%,0.405849,0.847499,0.800660,-0.288513,0.697567,0.387042,0.590270,0.669711,0.283444,0.347285
75%,0.414135,0.864081,0.806313,0.078601,0.697733,0.388801,0.687773,0.747049,0.292258,0.359682
max,0.476915,0.953402,0.967437,0.649520,0.698434,0.394371,0.972422,0.971263,0.726387,0.820102