In [2]:
import pandas as pd
import os
import glob
import numpy as np

In [ ]:
df = pd.read_csv("../DataBombardier/flight_test_1.csv")

In [ ]:
df.head()

In [ ]:
df = df.drop('Description', axis=1)

In [ ]:
df = df.set_index('TIME OF DAY IN SECONDS')

In [ ]:
data_units = df.iloc[0]
data_units.name = 'Unit'
data_units

In [ ]:
data_label_type = df.iloc[1]
data_label_type.name = 'Type'
data_label_type

In [ ]:
df = df.iloc[3:]
df.head()

In [ ]:
df = df.reset_index()
df.head()

In [ ]:
df.describe()

In [ ]:
df.info()

In [ ]:
nparray = df.to_numpy()
nparray

In [3]:
csv_stringLoader = "../DataBombardier/flight_test_*.csv"

In [4]:
def sortKeyFunc(s):
    return int(os.path.basename(s)[12:-4])

In [9]:
def bomb_csv_to_df(csv_stringLoader):
    list_df = []
    list_data_units = []
    list_data_label_type = []
    allFiles = sorted(glob.glob(csv_stringLoader), key=sortKeyFunc)

    for files in allFiles:
        print('Loading:{}'.format(files))
        df = pd.read_csv(files)
        df = df.drop('Description', axis=1)
        df = df.set_index('TIME OF DAY IN SECONDS')

        data_units = df.iloc[0]
        data_units.name = 'Unit'

        data_label_type = df.iloc[1]
        data_label_type.name = 'Type'

        df = df.iloc[3:]    

        list_df.append(df)
        list_data_units.append(data_units)
        list_data_label_type.append(data_label_type)
        
    return list_df, list_data_units, list_data_label_type

In [10]:
list_df, list_data_units, list_data_label_type = bomb_csv_to_df(csv_stringLoader)

Loading:../DataBombardier\flight_test_1.csv
Loading:../DataBombardier\flight_test_2.csv
Loading:../DataBombardier\flight_test_3.csv
Loading:../DataBombardier\flight_test_4.csv
Loading:../DataBombardier\flight_test_5.csv
Loading:../DataBombardier\flight_test_6.csv
Loading:../DataBombardier\flight_test_7.csv
Loading:../DataBombardier\flight_test_8.csv
Loading:../DataBombardier\flight_test_9.csv
Loading:../DataBombardier\flight_test_10.csv
Loading:../DataBombardier\flight_test_11.csv
Loading:../DataBombardier\flight_test_12.csv
Loading:../DataBombardier\flight_test_13.csv

In [11]:
df = list_df[0]

In [12]:
df.head()

,1st Cooling Sys MASS FLOW,2nd Cooling Sys MASS FLOW,ACS_Zone_Actual_Temperature,Outside Air Temperature_OAT,Pressure Altitude,Mach,1st AVIONICS BAY BULK TEMP,2nd AVIONICS BAY BULK TEMP,1st Underfloor flow,2nd Underfloor flow
TIME OF DAY IN SECONDS,,,,,,,,,,
17902,5.119134,17.831211,29.709884,26.150728,2365.0,0.008851,35.240755,33.76746076717663,8.652254,15.141995
17904,5.129402,17.793621,29.709884,26.17243,2364.0,0.008205,35.250933,33.78781427556584,8.712825,15.125606
17906,5.144212,17.751606,29.623075,26.194133,2365.0,0.008917,35.233968,33.77085186112588,8.806761,15.103295
17908,5.146977,17.708962,29.623075,26.194133,2364.0,0.009194,35.244148,33.78781427556584,8.886403,15.09978
17910,5.144015,17.684005,29.623075,26.183282,2364.0,0.005896,35.227183,33.79120814739258,8.932443,15.097211